
.brandSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 20px;
}
    #imgBrands1{
        height: 150px;
        width: auto;
    }
    #imgBrands2{
        height: 80px;
        width: auto;
    }

