
.salesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.salesContainer, .salesSection {
    margin: 30px;
}

.salesText p {
    padding-top: 15px;
    padding-bottom: 15px;
}
    #sales1 {
        margin-right: 30px;
    }

.salesImg img {
    border-radius: 15px;
}